*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
    overflow-x:hidden;
    overflow-y:hidden;
}
.navbar{
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background-color: rgba(255,255,255,0.9);
    background:transparent !important;
    transition: background-color ease 0.5s;
    overflow-x:hidden;
}
.nav-link{
    color:white;
    font-weight: bold;
}
.nav-link:hover{
    color:blue;
}
.navbar-colored{
    background-color:white !important;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.navlink-colored .nav-link{
    color:black !important;
}
header{
    height: 100vh;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.content{
    position: relative;
    z-index:2;
    width:90%;
    margin:0 auto;
}
.content ul li{
    padding:20px;
    list-style: none;;
}
.content ul li a i{
    background-color: black;
    color:white;
    width:40px;
    height:40px;
    border-radius: 50%;
    font-size:25px;
    padding:9px 13px;
}
.content ul li a i:hover{
    color:blue;
}
#myimage{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    min-width:100%;
    height:100vh;
    z-index:1;
    object-fit: cover;
    filter: brightness(0.4);
    overflow-x:hidden;
}
#about{
    background-color: black;  
}
#about h3{
    padding-top: 60px;
    scroll-margin-top: 75px;
}
#about p{
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
#project{
    background-image: url(/images/project.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#project h3{
    padding-top:60px;
    scroll-margin-top:75px;
}
#project .card img{
     width:100%;
     height:200px;
}
#contact{
    background-color:black;
}
#contact h3{
    padding-top:70px;
    scroll-margin-top:75px;
}

